.favourite-card-top{
    display:flex;
    padding: 12px;
    justify-content: space-between;
}
.favourite-card-top i:hover{
    color: red;
    cursor: pointer;
}
.favourite-card-content{
    text-align: center;
    padding-top:30px;
    padding-bottom: 17px;
}
.favourite-card-content p{
    padding: 12px;
}
.favourite-card-content img{
    height: 272px;
    width: 100%;
}
.favourite-card-content span{
    width: 34px;
    height: 3px;
    display: block;
    background-color: #555;
    margin: auto;
    margin-bottom: 12px;
}
.favourite-card-content a{
    color: red;
    text-decoration: none;
    font-weight: 700;
}
